@import "bulma_customized";
@import "bulma";

$black-color:  hsl(0, 0%, 9%);
$light-grey-color: rgba(255, 255, 255, 0.7);
$dark-grey-color: hsl(0, 0%, 15%);

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
}

.fork-is-loading {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 3em;
    margin: auto;
    position: relative;
    width: 3em;
}
/* for block of code */
.content table td, .content table th.hljs-ln-code {
    border: none;
    padding: 0em;
}

.content pre {
    padding: 0 1.5em;
}

pre {
    white-space: pre-wrap;
}

pre code {
    border: 1px solid #E6EAEE;
    border-radius: 0.28571429rem;
}

.pre-inline {
    background-color: #f8f8f8;
    margin: 0 0.5em;
    white-space: nowrap;
}

.pre-inline-no-left {
    margin: 0em 0.5em 0em 0em;
}

.pre-inline-no-right {
    margin: 0em 0em 0em 0.5em;
}

.pre-inline-no {
    margin: 0em;
}

.el {
    margin: 0 0.3em;
}

.el-no-left {
    margin: 0em 0.3em 0em 0em;
}

.el-no-right {
    margin: 0em 0em 0em 0.3em;
}

.el-no {
    margin: 0em;
}

.page-num {
    margin-left: 0.2em;
    font-size: 0.7em;
}

.play-time {
    padding: 1em;
    background: rgba(224,255,255 ,1);
}

.content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 0em;
}


.code-snippet {
    position: relative;
}

.message-header {
    background: $black-color;
}

.code-snippet__copy {
    position: absolute;
    color: $black-color;
    font-weight: 500;
    right: 2.25rem;
    top: 1rem;
}

.fixed-navbar {
    background-color: $black-color;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
}

.fixed-navbar__brand {
    padding: 1em;
}

.fixed-navbar__brand-name {
    color: white;
    font-weight: 600;
    padding-left: 0.5em;
}

.fixed-navbar__link {
    color: white;
}

.fixed-navbar__link:hover {
    color: $light-grey-color;
}

.fixed-navbar__burger:hover {
    color: $light-grey-color;
}

.fixed-navbar__item {
    cursor: pointer;
}

.home-navbar {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: $black-color;
}

.home-navbar__center {
    position: absolute;
    text-align: center;
    min-width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.home-navbar__center__logo {
    color: white;
    font-weight: 600;
    font-size: 3em;
}

.home-navbar__center__caption {
    font-size: 1.2em;
    color: $light-grey-color;
}

.home-navbar__center__actions {
    width: 15em;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.home-body {
    height: 100em;
}

.white-edge {
    position: fixed;
    top: 0;
    height: calc(100px + 1em);
    width: 100%;
    background: white;
    z-index: 9;
}
.docs {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    padding-left: 100px;
    display: flex;
    align-items: flex-start;
    //background: red;
}

.docs__legend::-webkit-scrollbar {
    display: none;
}

.docs__legend {
    //background-color: yellow;
    width: 300px;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    padding: 1.5em;
    top: 100px;
}

.docs__legend__title {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.docs__legend__group {
    margin-bottom: 1em;
    padding-left: 1em;
}

.group__ul {
    padding-left: 1em;
}

.group__li {
    padding-bottom: 0.5em;
    list-style-type: none;
}

.group__li:last-child {
    padding: 0em;
}

.docs__content {
    //background: green;
    height: 100%;
    width: 700px;
    margin-left: 50px;
}

.docs__content__section {
    margin-bottom: 2em;
}

.docs__content__fragment {
    margin: 1.25em;
}

.fragment__heading  {
    margin-bottom: 0.5em;
}

.fragment__heading > h5 {
    margin-bottom: 0em;
}

.fragment__paragraph {
    margin-bottom: 0.5em;
}

.docs__content__title {
    position: sticky;
    top: calc(100px + 0.5em);
    width: 100%;
    margin: 0.5em;
    background: white;
    z-index: 8;
}

.docs__content__section > .docs__content__subtitle {
    margin: 2em 1em 0em;
}

.docs__content__subtitle:target::before {
    display: block;
    content: " ";
    margin-top: -180px;
    height: 180px;
    visibility: hidden;
    pointer-events: none;
}

.title-divider {
    margin: 0.5em 0;
    border-color: #E6EAEE;
}

.fork-input {
    background-color: white;
    color: $black-color;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 1rem;
    height: 2.25em;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
}

.fork-input:focus {
    outline: none;
}

.fork-button-docs {
    margin-left: 1em;
}

.some-style {
    @extend .fork-input;
}

.fork-card {
    background: white;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
}

.fork-title {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 1em;
}

.fork-label {
    font-weight: 500;
}

.fork-divider {
    display: block;
    position: relative;
    border-top: 1px solid rgba(230,234,238,1.0);
    margin: 1em 0;
    text-align: center;
}

.code-snippet-demo {
    text-align: left;
    padding-bottom: 2em;
    margin: auto;
    width: 80%;
}

.demo-content {
    width: 70%;
    margin: auto;
}

.demo__reg {
    width: 100%;
    text-align: center;
    padding-top: calc(64px + 3em);
    min-height: 100vh;
    background: hsl(340, 83%, 38%);
}

.demo__reg__container {
    display: flex;
    justify-content: center;
}

.demo__card {
    width: 350px;
    text-align: left;
    margin-right: 5em;
}

.demo__reg__text {
    max-width: 500px;
    text-align: left;
}

.reg__submit {
    margin-top: 0.5em;
    width: calc((350px / 2) - 1.5em);
}

.button-inspect {
    margin-top: 2em;
    text-align: center;
    padding: 0 0 1em;
}

.demo__weather {
    width: 100%;
    text-align: center;
    padding-top: 3em;
    min-height: 100vh;
    background: #00ffff;
}

.weather__title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestion-weather {
    background:  #F6F6F5;
    max-height: 10em;
    border-radius: 5px;
    overflow-y: scroll;
}

.suggestion-weather__city {
    padding: 0.3em 0.5em;
}

.suggestion-weather__city:hover {
    background-color: #d4d4d4;
    cursor: pointer;
    font-weight: 600;
}

.weather-card__container {
    margin-top: 1em;
}

.weather-card__city-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card__min-max {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-card__speed-humidity {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h5.h-content {
    font-weight: 500;
    margin-bottom: 0;
}




.fixed {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background: red;
    position: sticky;
    top: 0px;
}

.toggle__navbar {
    display: none;
}

.title-divider {
    width: 95%;
}

.fork-form {
    display: flex;
    flex-direction: row;
}

@media (max-width: 414px) {

    .fork-form {
        flex-direction: column;
    }

    .fork-button-docs {
	margin-top: 1em;
	margin-left: 0em;
    }
}

@media (max-width: 623px) {
    .fixed-navbar__menu {
	background-color: $dark-grey-color;
    }
    .fixed-navbar__item:hover {
	background-color: $black-color;
    }
    .fixed-navbar__link:hover {
        color: white;
    }
    .code-snippet-demo {
	width: 100%;
    }
    .fork-card {
	width: 95%;
    }

}

@media (max-width: 800px) {
    .code-snippet-demo {
	width: 95%;
    }

    .docs__content {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .demo__reg__text {
	order: 2;
	height: 387px;
    }
    .demo__reg__message-body {
	height: 333px;
	overflow-y: scroll;
    }
    .demo__reg__text.message {
	margin-bottom: 0em;
}




}

@media (max-width: 1024px) {
    .docs {
	width: 100%;
	flex-direction:column;
	padding: 0;
	margin-top: 64px;
    }

    .demo-content {
	width: 95%;
    }

    .demo__reg__container {
        flex-direction: column;
	align-items: center;
    }

    .demo__card {
        margin-right: 0em;
    }

    .demo__reg__text {
	max-width: 95%;
    }

    .demo__reg__text.message {
	margin-bottom: 3em;
    }

    .button-inspect {
	text-align: center;
    }

    .toggle__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
        width: 100%;
        padding: 11px;
	padding-left: 14px;
	z-index: 9;
	color: white;
	font-weight: 600;
	background-color: grey;
    }

    .toggle__navbar-icon {
	margin-right: 10px;
    }

    .white-edge {
	top: 14px;
    }

    .docs__legend {
	display: none;
    }

    .docs__legend--mobile {
        display: block;
	position: fixed;
	width: 100%;
	top: calc(64px + 45.8px);
        z-index: 10;
	background: lightgrey;
    }

    .docs__content {
	padding-top: 3em;
	margin: auto;
    }

    .docs__content__title {
        top: calc(100px + 29px);
    }
}

.text-red {color: hsl(348, 100%, 61%);}
.text-green {color: hsl(171, 100%, 41%);}

.red {background-color: red;}
.blue {background-color: blue;}
.grey {background-color: grey;}
.yellow {background-color: yellow;}
.pink {background-color: pink;}
.brown {background-color: brown;}
.green {background-color: green;}
.black {background-color: black;}
