{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/sass {:builds [{:id "forms"
                        :source "forms.scss"
                        :target "public/forms.css"}]}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main fork.forms.frontend.main
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :asset-path "/assets/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port 8900}}}}

 :ig.system/base
 {[:edge.yada.ig/classpath-name :fork.forms/index] {:name "index.html"}
  [:edge.yada.ig/resources :fork.forms/assets] {:path "public/"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 5454}
  :edge.bidi.ig/vhost [["http://localhost:5454"
                        [""
                         [
                          ["/assets" #ig/ref [:fork.forms/assets :edge.yada.ig/resources]]
                          [true #ig/ref [:fork.forms/index :edge.yada.ig/classpath-name]]]]]]}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
