{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/sass {:builds [{:id "forms"
                        :source "forms.scss"
                        :target "public/forms.css"}]}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main fork.forms.frontend.main
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :asset-path "/assets/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}
                                 :closure-defines
                                 {:fork.forms.frontend.routing/vhost #profile
                                  {:dev ""
                                   :prod "https://decisionvest-stage.cervest.com"}}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port 8900}}}}

 :ig.system/base
 {[:edge.yada.ig/classpath-name :fork.forms/index] {:name "index.html"}
  [:fork.forms/scripts :edge.yada.ig/resources] {:path "scripts/"}
  [:fork.forms/images :edge.yada.ig/resources] {:path "images/"}
  [:fork.forms/styles :edge.yada.ig/resources] {:path "styles/"}
  [:edge.yada.ig/resources :fork.forms/assets] {:path "public/"}
  :fork.forms.snippets/docs "src/fork/forms/docs_code"

  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 5454}
  :edge.bidi.ig/vhost [["http://localhost:5454"
                        [""
                         [
                          ["/assets" #ig/ref [:fork.forms/assets :edge.yada.ig/resources]]
                          ["/scripts" #ig/ref [:fork.forms/scripts :edge.yada.ig/resources]]
                          ["/images" #ig/ref [:fork.forms/images :edge.yada.ig/resources]]
                          ["/styles" #ig/ref [:fork.forms/styles :edge.yada.ig/resources]]
                          ["/snippets" #ig/ref :fork.forms.snippets/docs]
                          [true #ig/ref [:fork.forms/index :edge.yada.ig/classpath-name]]]]]]}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
